<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Day1/css/bold/all.css" rel="stylesheet">
    <link href="/Day1/css/brands/all.css" rel="stylesheet">
    <link href="/Day1/css/regular/all.css" rel="stylesheet">
    <link href="/Day1/css/solid/all.css" rel="stylesheet">
    <link href="/Day1/css/thin/rounded.css" rel="stylesheet">
    <link href="/Day1/css/all/all.css" rel="stylesheet">
    <link href="/Day1/src/output.css" rel="stylesheet">
    <title>Proyecto</title>
</head>
<body class="bg-white">
    <section class="header">
            <h1 class="text-2xl font-bold underline"></h1>
            <div class="flex flex-row-reverse">
                <div class="bg-red-800 basis-1/4 h-24">1</div>
                <div class="bg-blue-800 basis-1/4">2</div>
                <div class="bg-green-800 basis-1/2">3</div>
            </div>
            <div>
            </div>
    </section>
    <section class="hero-section">
        <div class="flex flex-col bg-slate-400 h-48">
            <div class="bg-orange-600 basis-1/2">1</div>
            <div class="bg-purple-600">2</div>
            <div class="bg-red-700">3</div>
        </div>
    </section>
    <section class="flex flex-wrap p-4 gap-4" >
        <div class="bg-amber-400 w-32">1</div>
        <div class="bg-orange-400 w-32">2</div>
        <div class="bg-green-400 w-32" >3</div>
        <div class="bg-blue-400 w-32">4</div>
    </section>
    <section class="projects">
        <div class="flex">
            <div class="flex-none w-14 bg-red-400">
              01
            </div>
            <div class="flex-initial w-64 bg-yellow-300">
              02
            </div>
            <div class="flex-initial w-32 bg-green-900">
              03
            </div>
          </div>
    </section>
    <section class="contact">
        <div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4 h-auto md:w-1/2 lg:w-1/3">
            <div class="shrink-0">
                <i class="fi fi-rs-comment-dots cursor-pointer"><a href="https://www.google.com"></a></i>
            </div>
            <div>
              <div class="text-xl font-medium text-black">ChitChat</div>
              <p class="text-slate-500">You have a new message!</p>
            </div>
            
          </div>
    </section>
    <footer>
        <button class="btn btn-primary w-64">Button</button>
        <button class="btn btn-primary">One</button>
        <button class="btn btn-secondary">Two</button>
        <button class="btn btn-accent btn-outline">Three</button>
    </footer>
</body>
</html>